/* colors: #431263
#fa4b65 #ffc642 #8c11bd 
#fbf522 #944dff -twitch color
linear-gradient(135deg, rgba(67,18,99,1) 0%, rgba(253,29,29,1) 70%, rgba(255,149,0,1) 100%) -gradient 


*/
* {
  padding: 0px;
  margin: 0px;
}
body {
  background-image: linear-gradient(
    135deg,
    rgba(67, 18, 99, 1) 0%,
    rgba(253, 29, 29, 1) 70%,
    rgba(255, 149, 0, 1) 100%
  );
  height: auto;
  overflow-x: hidden;
}
.navbar1 {
  width: 100%;
  height: 30px;
  overflow: hidden;
  background-image: linear-gradient(
    170deg,
    rgba(67, 18, 99, 1) 0%,
    rgba(253, 29, 29, 1) 95%,
    rgba(255, 149, 0, 1) 100%
  );
  font-family: oswald;
  color: black;

}


marquee a{
    text-decoration: none;
    color: white;
    text-shadow: 
    1px 1px 0px white,
    0px 0px 2px white,
    0px 0px 2px white;
    font-size: larger;

}

  .navbar2 {
    margin: 0px;
    width: 100%;
    display: flex;
    background-color: black;
    color: white;
    height: 80px;
    justify-content: right;
    overflow: hidden;
    align-items: center;
  }

.nav2_item {
  width: 200px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  padding-top: 15px;
  font-family: oswald;
  font-weight: 700;
  font-size: larger;
  transition: 0.5s;
  background-image: linear-gradient(
    90deg,
    rgba(67, 18, 99, 1) 0%,
    rgba(253, 29, 29, 1) 70%,
    rgba(255, 149, 0, 1) 100%
  );
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-right: 15px;
  cursor: pointer;
}
.nav2_item a{
text-decoration: none;
color: white;
}
#search {
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
}
#cart {
  width: 50px;
  margin-right: 10px;
  color: #ffffff;
}
#account {
  width: 50px;
}
.nav2_item:hover {
  text-decoration: none;
  background-size: 70% 2px;
  background-position: center bottom;
}
.logo {
  filter: brightness(120%) saturate(120%) contrast(120%);
  position: relative;
  top: 15px;
  right: 20px;
  left: 5px;
  cursor: pointer;
  margin-right: 50px;
}
#cart {
  color: white;
}
.first_video video {
  width: 100%;
  height: 600px;
  object-fit: fill;
  filter: brightness(120%) saturate(120%) contrast(100%);
  background-color: black;
  filter: drop-shadow(1px 2px 2px grey);
}
.second_image {
  display: flex;
  width: 100%;
  height: 600px;
  background-image: linear-gradient(135deg, rgba(67,18,99,1) 0%, rgba(253,29,29,1) 70%, rgba(255,149,0,1) 100%) ;
  color: white;
  height: 600px;
  justify-content: center;
  position: relative;
}
.second {
  width: 100%;
  margin: 2px 2.5px 2px 2px;
  background-repeat: no-repeat;
}

.second:hover{
  background-size: 550px 600px;
  transform: scale(1.01);
  border-radius: 10px;
  z-index: 1;
  filter: drop-shadow(2px 2px 5px #ffffff);
  background-repeat: no-repeat;
}
#s1 {
  background-image: url(https://assets.corsair.com/image/upload/c_pad,q_85,h_1100,w_1100,f_auto/products/Liquid-Cooling/icue-link-lcd-aio/CW-9061007/iCUE_LINK_H100i_LCD_BLK_01.webp);
  background-size: 500px 600px;
  transition: 0.8s;
  color: white;
  background-color: #000000;
  background-position: center ;

}
#s1:hover {
  background-image: url(https://assets.corsair.com/image/upload/c_pad,q_85,h_1100,w_1100,f_auto/products/Liquid-Cooling/icue-link-lcd-aio/CW-9061007/iCUE_LINK_H100i_LCD_BLK_02.webp);
  background-size: 480px 600px;
}
#s2 {
  background-image: url(https://assets.corsair.com/image/upload/c_pad,q_85,h_1100,w_1100,f_auto/products/Storage/mp600-elite/CSSD-F1000GBMP600ECS/Gallery/MP600_ELITE_for_PS5_01.webp);
  background-size: 500px 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #eeeeeef5;
  transition: 0.8s;
}
#s2:hover {
  background-image: url(https://assets.corsair.com/image/upload/c_pad,q_85,h_1100,w_1100,f_auto/products/Storage/mp600-elite/CSSD-F1000GBMP600ECS/Gallery/MP600_ELITE_for_PS5_03.webp);
}
#s3 {
  background-image: url(https://assets.corsair.com/image/upload/c_pad,q_85,h_1100,w_1100,f_auto/products/Power-Supply-Units/base-rmx-2024-config/gallery/black/750/RM750x_2024_01.webp);
  background-size: 500px 600px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.8s;
}
#s3:hover {
  background-image: url(https://assets.corsair.com/image/upload/c_pad,q_85,h_1100,w_1100,f_auto/products/Power-Supply-Units/base-rmx-2024-config/gallery/black/750/RM750x_2024_02.webp);
}
.third_image {
  width: 100%;
  height: 600px;
  background-color: white;
  color: white;
  margin-top: 2px;
}
.third_image video {
  width: 100%;
  height: 600px;
  object-fit: fill;
  filter: opacity(95%) brightness(90%);
  cursor: pointer;
  filter: drop-shadow(1px 1px 20px white);
}

.six_img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.1%;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%;
  overflow: hidden;
}
.img1 {
  height: 600px;
  background-color: black;
  width: 100%;
  font-family: oswald;
  color: white;
}
#i1 {
  overflow: hidden;
  background-image: url(https://assets3.razerzone.com/LfAgN_SibjL4Sn0WC7cToy-TTPs=/1500x1000/https%3A%2F%2Fhybrismediaprod.blob.core.windows.net%2Fsys-master-phoenix-images-container%2Fhd8%2Fh82%2F9484156338206%2F230105-wolverine-v2-pro-black-v3-1500x1000-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(2px 2px 10px #006eff);
  transition: 1s;
  border-radius: 0px;
  display: block;
}
#i1 h1 {
  position: absolute;
  bottom: 60px;
  left: 32%;
  cursor: pointer;
  transition: 0.3s;
  text-shadow: 2px 2px 10px #006eff;
}
#i1 h1:hover {
  text-shadow: 2px 2px 10px #006eff;
}
#i1 h3 {
  position: absolute;
  bottom: 30px;
  left: 48%;
  cursor: pointer;
  transition: 0.3s;
  text-shadow: 2px 2px 10px #006eff;
}
#i1 h3:hover {
  text-shadow: 2px 2px 10px #006eff;
  text-decoration: underline;
}
#i1:hover {
  background-image: url(https://assets3.razerzone.com/H_5utdeYqi4soa8W1WbrYy9-Mho=/1500x1000/https%3A%2F%2Fhybrismediaprod.blob.core.windows.net%2Fsys-master-phoenix-images-container%2Fh42%2Fh83%2F9484156370974%2F230105-wolverine-v2-pro-black-v3-1500x1000-4.jpg);
  background-position: center;
  transform: scale(1.05);
  filter: drop-shadow(2px 0px 40px #006eff);
  z-index: 1;
  border-radius: 10px;
}

#i2 {
  background-image: url(keyboard\ razer.jpg);
  background-position: center;
  background-size: cover;
  filter: drop-shadow(0px 0px 10px #8c11bd);
  border-radius: 0px;
}
#i2:hover {
  background-image: url(https://assets3.razerzone.com/sOrLRyD8OyUIbN9_PiHTK__1LcY=/1500x1000/https%3A%2F%2Fhybrismediaprod.blob.core.windows.net%2Fsys-master-phoenix-images-container%2Fh3e%2Fh56%2F9818561675294%2F240924-bw-v4-pro-75-black-1500x1000-5.jpg);
  transition: 0.6s;
  background-position: center;
  transform: scale(1.05);
  filter: drop-shadow(2px 2px 40px #8c11bd);
  border-radius: 10px;
  z-index: 1;
}
#i2 h1 {
  filter: drop-shadow(2px 0px 10px #8c11bd);
}

#i2 h1:hover {
  filter: drop-shadow(2px 0px 10px #8c11bd);
}
#i2 h3 {
  transition: 0.5s;
  filter: drop-shadow(2px 0px 10px #8c11bd);
}
#i2 h3:hover {
  filter: drop-shadow(2px 0px 10px #8c11bd);
  text-decoration: underline;
}
#i3 {
  background-image: url(https://assets3.razerzone.com/SM_Xzi6vBNHr84K1Z74ug0qJ-Yk=/1500x1000/https%3A%2F%2Fhybrismediaprod.blob.core.windows.net%2Fsys-master-phoenix-images-container%2Fh0d%2Fh51%2F9481670098974%2F230202-viper-mini-signature-2-1500x1000-4.jpg);
  background-position: center;
  background-size: cover;
  transition: 0.8s;
  filter: brightness(120%) drop-shadow(2px 2px 20px #ffffff);
}
#i3:hover {
  background-image: url(https://assets3.razerzone.com/7lgrgtzLaoX5QLfcqXxy_f5vX-k=/1500x1000/https%3A%2F%2Fhybrismediaprod.blob.core.windows.net%2Fsys-master-phoenix-images-container%2Fh6b%2Fhb5%2F9481669935134%2F230202-viper-mini-signature-2-1500x1000-2.jpg);
  filter: drop-shadow(2px 2px 40px #ffffff);
  transform: scale(1.05);
  border-radius: 10px;
  z-index: 1;
}
#i3 h1 {
  filter: drop-shadow(2px 0px 20px #ffffff);
}
#i3 h1:hover {
  filter: drop-shadow(2px 0px 20px #ffffff);
}
#i3 h3 {
  transition: 1s;
  filter: drop-shadow(2px 0px 20px #ffffff);
}
#i3 h3:hover {
  filter: drop-shadow(2px 0px 20px #ffffff);
  transform: scale(1);
  text-decoration: underline;
}

#i4 {
  background-image: url(https://assets3.razerzone.com/cUeJi23UzM_UK7UfJg2gGJ2yqXY=/1500x1000/https%3A%2F%2Fhybrismediaprod.blob.core.windows.net%2Fsys-master-phoenix-images-container%2Fh98%2Fh05%2F9368738824222%2F220218-blackshark-v2-x-white-1500x1000-1.jpg);
  background-position: center;
  background-size: cover;
  transition: 1s;
  filter: drop-shadow(0px 0px 5px white);
}
#i4:hover {
  background-image: url(https://assets3.razerzone.com/BemRc_EOe-5oB9dYYfF05PESfkI=/1500x1000/https%3A%2F%2Fhybrismediaprod.blob.core.windows.net%2Fsys-master-phoenix-images-container%2Fh41%2Fh05%2F9368738856990%2F220218-blackshark-v2-x-white-1500x1000-4.jpg);
  background-position: center;
  background-size: cover;
  transform: scale(1.05);
  border-radius: 10px;
  filter: drop-shadow(0px 0px 40px white);
  z-index: 1;
}
#i4 h3 {
  filter: drop-shadow(2px 2px 10px white);
}
#i4 h3:hover {
  filter: drop-shadow(2px 2px 10px white);
  text-decoration: underline;
}
#i5 {
  background-image: url(https://massdrop-s3.imgix.net/product-images/drop-dwarf-factory-mc-long-mecca-desk-mat/FP/5JIuUxFQz6VWATEfk5gu_McLONG_Mecca_MAt_5979-copy-pdp.jpg?auto=format&fm=jpg&fit=fill&w=820&h=547&bg=f0f0f0&dpr=1&chromasub=444&q=70);
  background-position: center;
  background-size: contain;
  filter: drop-shadow(0px 0px 20px #ff434c);
  transition: 0.8s;
}
#i5:hover {
  background-image: url(https://massdrop-s3.imgix.net/product-images/drop-dwarf-factory-mc-long-mecca-desk-mat/FP/N0BujgoR2OIr08ukN7g4_All_four-pdp.jpg?auto=format&fm=jpg&fit=fill&w=820&h=547&bg=f0f0f0&dpr=1&chromasub=444&q=70);
  background-size: contain;
  transform: scale(1.05);
  filter: drop-shadow(1px 1px 40px #ff434c);
  border-radius: 10px;
  z-index: 1;
}
#i5 h1 {
  filter: drop-shadow(2px 2px 10px #ff434c);
}
#i5 h3 {
  filter: drop-shadow(2px 2px 10px #ff434c);
}
#i5 h3:hover {
  text-decoration: underline;
}

#i6 {
  background-image: url(https://massdrop-s3.imgix.net/product-images/drop-the-lord-of-the-rings-rohan-artisan-keycaps/FP/xy7SPCRnR0yG6DGvVVZv_Rohan_Artisan_0935-copy.jpg?auto=format&fm=jpg&fit=fill&w=820&h=547&bg=f0f0f0&dpr=1&chromasub=444&q=70);
  background-size: cover;
  background-position: center;
  transition: 0.8s;
  filter: drop-shadow(5px 5px 15px #ff2833);
}
#i6:hover {
  background-image: url(https://massdrop-s3.imgix.net/product-images/drop-the-lord-of-the-rings-rohan-artisan-keycaps/FP/588dVZ9zRDeuIcYmtc2X_Rohan_Artisan_1253-copy-pdp.jpg?auto=format&fm=jpg&fit=fill&w=820&h=547&bg=f0f0f0&dpr=1&chromasub=444&q=70);
  transform: scale(1.05);
  filter: drop-shadow(0px 0px 40px #ff434c);
  border-radius: 10px;
  z-index: 1;
}
#i6 h1 {
  filter: drop-shadow(0px 0px 10px#ffffff);
}
#i6 h3 {
  filter: drop-shadow(0px 0px 10px #ffffff);
}
#i6 h3:hover {
  text-decoration: underline;
}

.footer {
  width: 100%;
  height: 400px;
  background-color: black;
  color: white;
}
.logo_footer {
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 220px;
  height: 190px;
  filter: brightness(120%) contrast(120%) saturate(120%);
}
.signup_footer {
  padding-left: 20px;
}
.signup_footer input {
  width: 300px;
  height: 43px;
  background-color: black;
  border: 1px solid grey;
  border-radius: 5px;
  color: white;
  padding-left: 10px;
  font-family: oswald;
  font-weight: 700;
  font-size: medium;
}
.signup_footer button {
  height: 43px;
  width: 99px;
  transition: 0.3s;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-family: oswald;
  font-size: medium;
}
.signup_footer button:hover {
  background-image: linear-gradient(
    135deg,
    rgba(67, 18, 99, 1) 0%,
    rgba(253, 29, 29, 1) 70%,
    rgba(255, 149, 0, 1) 100%
  );
  color: white;
  transform: scale(1.02);
  box-shadow: 2px 2px 15px rgba(253, 29, 29, 1);
}
.footer_social {
  display: flex;
  gap: 43.6px;
  margin-top: 60px;
  margin-left: 20px;
  width: max-content;
  font-size: 30px;
  cursor: pointer;
}
.footer_social i {
  transition: 0.25s;
}
.footer_social i:hover {
  transform: scale(1.3);
}
.footer_social #twitch i:hover {
  color: #944dff;
  filter: drop-shadow(0px 0px 3px #944dff);
}
.footer_social #facebook i:hover {
  color: #438bff;
  filter: drop-shadow(0px 0px 2px #438bff);
}
.footer_social #instagram i:hover {
  color: #e835aa;
  filter: drop-shadow(0px 0px 2px #e835aa);
}
.footer_social #youtube i:hover {
  color: #ff0808;
  filter: drop-shadow(0px 0px 2px #ff0808);
}
.footer_social #discord i:hover {
  color: #5668f5;
  filter: drop-shadow(0px 0px 2px #5668f5);
}
.footer_social #twitter i:hover {
  color: white;
  filter: drop-shadow(0px 0px 1px #ffffff);
}
.footer_flex {
  padding-top: 50px;
}
.footer_flex div {
  width: 230px;
}
.footer_support {
  margin-left: 80px;
}
.footer_support a{
  color: #ffffff;
  text-decoration: none;
}

.footer_flex div div {
  font-size: 15px;
  margin-bottom: 15px;
  padding-left: 0px;
  cursor: pointer;
}
.footer_flex div div:hover{
  text-decoration: underline;
}

.footer_flex div h1 {
  filter: drop-shadow(1px 2px 2px #f3d6ff);
  padding: 20px 0px 20px 0px;
  font-size: larger;
}
.footer {
  filter: drop-shadow(2px 2px 10px #8c11bd);
}

@media screen and (max-width: 500px) {
  
}
